@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #2E0249;
}

.calculator {
    display: flex;
    width: 510px;
    max-width: 510px;
    flex-direction: column;
    background-color: #570A57;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
}

.display {
    font-size: 25px;
    background-color: #F806CC;
    color: rgba(0, 0, 0, 0.671);
    min-height: 50px;
    word-break: break-all;
    padding: 0px 5px;
}

.buttons {
    display: grid;
    color: rgba(255, 255, 255, 0.781);
    grid-template-columns: repeat(4, 120px);
    gap: 10px;
}

.func {
    background-color: #760b54;
    grid-column: span 2;
}

.num, #equal, .dec {
    background-color: #A91079;
}

.op {
    background-color:#8f1d8f;
}

.btn {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 5px;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn:active {
    filter:brightness(0.8)
}